# =============================================================================
# PRODUCTION CONFIG EXAMPLE
# -----------------------------------------------------------------------------
# By default it will use SQLite, but that's mostly to test and evaluate the
# server. So you'll want to specify db connection settings to use Postgres.
# =============================================================================

APP_BASE_URL=https://localhost:22300/joplin
APP_PORT=22300

DB_CLIENT=pg

POSTGRES_USER=joplin
POSTGRES_PASSWORD=[enter-strong-password-here]
POSTGRES_DATABASE=joplin
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

MAILER_ENABLED=1
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_SECURITY=starttls
MAILER_AUTH_USER=[enter-email]
MAILER_AUTH_PASSWORD=[16-char-password-here]
MAILER_NOREPLY_NAME=JoplinServer
MAILER_NOREPLY_EMAIL=[enter-email]

# S3 bucket for encrypted backups (Stage 3+)
BACKUP_S3_BUCKET=[your-s3-bucket-name]

# =============================================================================
# DEV CONFIG EXAMPLE
# -----------------------------------------------------------------------------
# Example of local config, for development. In dev mode, you would usually use
# SQLite so database settings are not needed.
# =============================================================================
#
# APP_BASE_URL=http://localhost:22300
# APP_PORT=22300